# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might be created by editors or IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw Assets Folder
LeeU Bliss /
712985204_17891083107532333_6051670403340731743_n.jpg

# Temporary deploy folder and Pages configs
dist/
.pagesignore
